body{
    margin: auto auto;
}

.none_nav{
    list-style: none;
    padding-top: 10px;
}
  
.logo{
    width: 80px;
}
  
.login{
    width: 25px;
}

.text-space{
    margin-bottom: 20px;
}

div div ul li{
    list-style: none;
}
