@import url('/styles/headfoot.css');

.table-custom {
    border: 2px solid #ff0000; 
    border-collapse: separate; 
    border-spacing: 0; 
  }
  .table-custom th, .table-custom td {
    border: 2px solid #ff0000; 
    padding: 8px;
    text-align: left;
    background-color: #ffffff; 
  }
  .table-custom th {
    background-color: #ff0000; 
    color: #ffffff; 
  }